body {
  background-color: #191919;
  font-family: 'Open Sans', sans-serif;
}

.text {
  opacity: 0;
  position: absolute;
  z-index: 7;
  text-align: left;
  margin: -50px 0 0 -150px;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  -moz-animation: on .6s ease-in-out 3.7s forwards;
  -o-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}

.text p {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: type .3s steps(60, end) 3.7s;
  -moz-animation: type .3s steps(60, end) 3.7s;
  -o-animation: type .3s steps(60, end) 3.7s;
  animation: type .3s steps(60, end) 3.7s;
}

.text p:nth-child(2) {
  -webkit-animation: type2 .5s steps(60, end) 3.7s;
  -moz-animation: type2 .5s steps(60, end) 3.7s;
  -o-animation: type2 .5s steps(60, end) 3.7s;
  animation: type2 .5s steps(60, end) 3.7s;
}

.text button {
  border: 0;
  opacity: 0;
  background: #191919;
  color: #f5d300;
  border: 1px solid #191919;
  letter-spacing: 2px;
  padding: .5rem 2.5rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color .5s, background-color .5s;
  -moz-transition: color .5s, background-color .5s;
  -ms-transition: color .5s, background-color .5s;
  -o-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
  -webkit-animation: on .6s ease-in-out 4s forwards;
  -moz-animation: on .6s ease-in-out 4s forwards;
  -o-animation: on .6s ease-in-out 4s forwards;
  animation: on .6s ease-in-out 4s forwards;
}

.text button:hover {
  background: #f5d300;
  color: #191919;
  border: 1px solid #191919;
}

.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  overflow: hidden;
}

.splash_logo {
  position: absolute;
  margin: -15px 0 0 -25px;
  top: 50vh;
  left: 50vw;
  z-index: 5;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
  will-change: opacity;
  -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -moz-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -o-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}

.splash_logo:before,


.splash_logo:before {
  bottom: -5px;
}

.splash_logo:after {
  top: -5px;
  will-change: width;
}

.splash_svg {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.splash_svg svg {
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

.splash_svg rect {
  width: 100%;
  height: 100%;
  fill: #f5d300;
  stroke: 0;
  clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  -webkit-animation: expand .7s ease-in forwards 2.7s;
  animation: expand .7s ease-in forwards 2.7s;
}

.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.splash_minimize svg {
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

.splash_minimize rect {
  width: 100%;
  height: 100%;
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

@keyframes scale {
  100% {
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}

@keyframes hide {
  100% {
    fill: transparent;
  }
}

@keyframes off {
  100% {
    opacity: 0;
  }
}

@keyframes on {
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  100% {
    color: #292929;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes expand {
  0% {}
  25% {
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    fill: white;
  }
  50% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #f5d300;
  }
  75% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #f5d300;
  }
}
